.app {
    border-radius: 10px;
    margin-top: 20px;
}

.textos {
    position: relative;
    top: -55px;
    background-color: grey;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 70%;
    text-align: left;
    padding-left: 20px;
    border-radius: 20px;
}